@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "Neue";
  src: url("../public/fonts/HelveticaNeue-ThinCond.woff2") format("woff2"),
    url("../public/fonts/HelveticaNeue-ThinCond.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Didot";
  src: url("../public/fonts/Didot-HTF-B64-Bold.woff2") format("woff2"),
    url("../public/fonts/Didot-HTF-B64-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue";
  src: url("../public/fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"),
    url("../public/fonts/HelveticaNeue-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
